.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 500;
  }
  
  .nav-container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 64px;
    margin: 0 auto;
  }

  img{
    width: 75px;
    height: 75px;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .nav-link img {
    animation: slideIn 1s ease-in-out 3s forwards;
    opacity: 0; 
  }
  